<div class="text-center fs-1 m-3">Products</div>
<div class="row">
    <div *ngFor="let product of products; index as productId" class="col-lg-4 col-md-6 col-xs-12">
        <div class="card mx-auto">
            <img src="{{product.img}}" class="card-img-top" style="height:20rem; object-fit:cover">
            <div class="card-body">
                <p class="card-text ps-2">{{product.name}}</p>
                <div class="row d-flex justify-content-between">
                    <a class="btn col-4 btn-info" routerLink="products/{{productId}}">DEtails</a>
                    <a class="btn col-4 btn-primary text-center" (click)="addToCart(product)">Order</a>
                </div>
                <p class="card-text">{{product.price | currency:"EUR" }}</p>
                <p *ngIf="product.description" class="card-text ps-2">Description: {{product.description}}</p>

            </div>
        </div>
    </div>
</div>